<ion-view view-title="News">
    <ion-content>
        <div>
            <div class="padding" collection-repeat="newItem in news"
                ng-click="openDetail(newItem)">
                <div class="item">
                    <h2>{{newItem.title}}</h2>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="delorean.jpg">
                    <p ng-bind="newItem.createdDate | date:'dd/MM/yyyy'">{{}}</p>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
