<ion-view view-title="News">
    <ion-content>
        <div>
            <div class="padding" collection-repeat="newsItem in news"
                ng-click="showDetail(newsItem)">
                <div class="item">
                    <h2>{{newsItem.title}}</h2>
                </div>
                <div class="item item-body item-body-image-box">
                    <img class="full-image " src="{{newsItem.imageUrl}}">
                    <p ng-bind="newsItem.createdDate | date:'dd/MM/yyyy'">{{}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
